<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yummy.candies.candybox2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="yummy.candies.candybox2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Merchant"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.MERCHANT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Inventory"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.INVENTORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Quest"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.QUEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Forest"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.FOREST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Goblin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.GOBLIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Underwater"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.UNDERWATER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Frog"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.FROG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Well"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.WELL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Witch"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.WITCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Finalboss"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.FINALBOSS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Forestquest"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.FORESTQUEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Goblinquest"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.GOBLINQUEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Underwaterquest"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.UNDERWATERQUEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="yummy.candies.candybox2.Finalbossquest"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="yummy.candies.candybox2.FINALBOSSQUEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
